.about {
  .grid-wrapper {
    display: flex;
  }

  figure {
    display: block;
    flex: 0 0 37%;
    margin: 0;
    padding: 0;
    @include vr(
      $padding-right: 0.6
    );
    overflow: hidden;
    box-sizing: border-box;

    img {
      display: block;
      width: 100%;
    }
  }

  aside {
    flex: 0 0 63%;
    @include vr(
      $padding-left: 0.5
    );
  }

  @include width-above($desktop) {
    aside {
      @include vr(
        $padding-right: 0.75
      );
    }
  }

  @include width-below($tablet) {
    @include vr(
      $padding-top: 1
    );
    .grid-wrapper {
      display: block;
    }
    figure {
      padding-right: 0;
    }
    aside {
      padding-left: 0;
      @include vr(
        $padding-top: 1
      );
    }
  }

  @include width-below($phablet) {
    padding: 0;
    margin-top: 1px;
    .grid-wrapper {
      padding: 0;
    }
    aside {
      @include vr(
        $padding-top: 1.5,
        $padding-left: 1,
        $padding-right: 1
      );
    }
  }
}