.work {
  font-weight: 300;
  &__title {
    text-align: center;

    @include vr(
      $line-height: 1,
      $margin-top: 0,
      $margin-bottom: 0.5
    );
  }
  &__roles {
    text-align: center;
    @include vr(
      $margin-top: 0,
      $margin-bottom: 1
    );
  }
  &__figure {
    display: block;
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    overflow: hidden;
    box-sizing: border-box;

    .fluid-iframe {
      @include fluid-aspect(380 285, iframe);

      iframe {
        max-width: 100%;
      }
    }

    .fluid-video {
      @include fluid-aspect(80 43, video);

      video {
        max-width: 100%;
      }
    }
  }

  &__images {
    display: flex;
    @include vr(
      $margin-left: -1
    );
    figure {
      flex: 0 0 33.3333333333%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      @include vr(
        $padding-left: 1
      );
      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  &__details {
    display: flex;
  }

  &__dates {
    flex: 0 0 33.33333333%;
    p {
      @include vr(
        $margin-bottom: 0.25,
      );
    }
    p + p {
      @include vr(
        $margin-top: 0.25,
      );
    }
  }

  &__description {
    flex: 0 0 66.66666666%;

    @include vr(
      $padding-right: 1.5,
      $padding-left: 0.5
    );
    h2 {
      margin-top: 0;
      font-weight: 300;
      @include vr(
        $line-height: 1.5,
        $margin-bottom: 0
      );
    }
    .subtitle {
      margin-top: 0;
    }
    p {
    }

    a:not(.button) {
      color: $orange;
      &:hover {
        color: lighten($orange, 20);
      }
    }
  }

  @include width-below($desktop) {
    &__figure {
      flex: 0 0 40%;
    }
    &__description {
      flex: 0 0 60%;
    }
  }

  @include width-below($tablet) {
    &__details {
      display: block;
    }
    &__figure {
      padding-right: 0;
      @include vr(
        $padding-bottom: 0
      );
    }
    &__description {
      padding-left: 0;
    }
  }

  @include width-below($phablet) {
    &__title {
      @include vr(
        $margin-bottom: 0.25
      );
    }
    &__figure {
      padding-right: 0;
      @include vr(
        $padding-bottom: 0
      );
    }
    &__description {
      padding-left: 0;
      padding-right: 0;
    }
  }
}