.work {
  display: flex;
  // flex-direction: row-reverse;
  &__figure {
    display: block;
    flex: 0 0 60%;
    margin: 0;
    padding: 0;
    @include vr(
      $padding-right: 0.6
    );
    padding-bottom: 6px;
    overflow: hidden;
    box-sizing: border-box;

    .fluid-iframe {
      @include fluid-aspect(199 163, iframe);

      iframe {
        max-width: 100%;
      }
    }
  }

  &__description {
    flex: 0 0 40%;

    @include vr(
      $padding-left: 0.75
    );
    h2 {
      margin-top: 0;
      font-weight: 300;
      @include vr(
        $line-height: 1.5,
        $margin-bottom: 0
      );
    }
    .subtitle {
      margin-top: 0;
    }
    p {
      font-weight: 300;
    }

    a:not(.button) {
      color: $orange;
      &:hover {
        color: lighten($orange, 20);
      }
    }
  }

  @include width-below($desktop) {
    &__figure {
      flex: 0 0 40%;
    }
    &__description {
      flex: 0 0 60%;
    }
  }

  @include width-below($phablet) {
    display: block;
    &__figure {
      padding-right: 0;
      @include vr(
        $padding-bottom: 1
      );
    }
    &__description {
      padding-left: 0;
    }
  }
}