@charset 'utf-8';



@import url("https://fonts.googleapis.com/css?family=Muli:300,400|Merriweather:300,400");
// @import "~normalize.css/normalize.css";

@import '~vertical-rhythm-reset/dist/vertical-rhythm-reset';

$vr-font-size    : 18px;
$vr-line-height  : 1.5;
$vr-modular-scale: minor-third;

$vr-breakpoints: (
  10em: (
    font-size: 16px
  ),
  60em: (
    font-size: 18px
  )
);

$vr-helpers      : false;

// $vr-grid-color: rgba(233, 30, 99, 0.5);

@include vr-reset();

// Vertical Rhythm
$base-font-size: 18px;
$base-line-height: 27px;

$gutter: 2rem;

// Typefaces
$font-family: 'Muli', sans-serif;
$heading-font-family: 'Merriweather', serif;

// Text Colors
$text-color: #000;
$heading-color: #000;

// Colors
$orange: #DE7719;
$blue: complement($orange);
$red: adjust-hue($orange, -30deg);
$teal: adjust-hue($orange, -270deg);
$purple: adjust-hue($orange, -60deg);

//$orange: #E0523C; // alternative red
$light-blue: #E7F3FF;

body {
  font-family: $font-family;
  background: #F7F7F7 url('/assets/images/80-70-3.png');
  overscroll-behavior: none;

  // @include vr-grid();
}


div.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);

  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 9px;
  }
  &:before {
    background: $orange;
  }
  &:after {
    top: -9px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.4);
    z-index: 100;
  }
}

section {
  @include vr($padding-top: 2);
  @include vr($padding-bottom: 2);
  &.orange {
    background: lighten($orange, 5);
  }
  &.blue {
    background: lighten($blue, 0);
    color: #fff;
  }
  &.bytemark {
    color: #fff;
    background: #004ea4 url('/assets/images/80-70-2.png');
  }
}

.grid-wrapper {
  max-width: 57rem;
  margin: 0 auto;
  @include vr(
    $padding-left: 1,
    $padding-right: 1
  );
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  font-weight: 400;
}

header {
  @include vr(
    $padding-top: 1,
    $offset-bottom: 1
  );
  border-bottom: 1px solid #ccc;

  .grid-wrapper {
    display: flex;
    @include vr(
      $padding-right: 0
    );
  }
  h1 {
    margin: 0;
    font-weight: 400;
    // flex: 0 0 50%;
    .icon {
      display: inline-flex;
      align-self: center;
      @include vr(
        $height: 0.8,
        $width: 0.8,
        $offset-top: 2,
        $margin-right: 0.2
      );
      fill: $orange;
    }
    a {
      @include vr(
        $font-size: 0,
        $height: 3,
        $line-height: 3
      );
      display: flex;
      text-decoration: none;
      max-width: 12rem;
      color: $text-color;
      &:hover {
        color: $orange;
      }
    }
  }

  nav {
    display: flex;
    // flex-grow: 1;
    margin-left: auto;
    justify-content: space-between;
    a {
      display: flex;
      text-decoration: none;
      color: #110e0b;
      // flex: 1 1 auto;
      @include vr(
        $padding-left: 1.1,
        $padding-right: 1.1,
        $padding-top: 0.75,
        $padding-bottom: 0.75
      );
      text-align: center;
    
      span {
        display: block;
        border-bottom: 2px solid transparent;
        @include vr(
          $height: 1.5,
          $line-height: 1.5,
          $padding-left: 0.15,
          $padding-right: 0.15,
          $offset-bottom: 2px
        );
      }

      &:hover {
        color: $orange;
      }
      &.active {
        color: $orange;
        span {
          border-color: $orange;
        }
      }
    }
    .icon {
      display: none;
      fill: #000000;
      opacity: 0.75;
      width: 35px;
      height: 35px;
      text-align: center;
      margin: 0 auto 0.25rem auto;
    }
    // .icon-work {
    //   fill: #000000;
    //   width: 50px;
    //   height: 50px;
    // }
  }
}



footer {
  transition: all 3s;
  // flex-shrink: 0;
  margin-top: auto;
  background: #222 url('/assets/images/80-70-3.png');;
  color: #ccc;
  padding: 0;

  box-shadow:
    0px -1px 1px 0px #fff,
    inset 0px 1px 1px 0px #000
  ;

  min-height: 100px;

  border-top: 8px solid $orange;

  p {
    padding: 0;
  }

  a {
    color: #777;
    border: none;
  }
}


section.skills {

  h1 {
    @include vr(
      $margin-right: 1
    );
  }
  .grid-wrapper {
    @include vr(
      $padding-right: 0.5
    );
  }
  ul {
    display: flex;
    flex-wrap: wrap;

    @include vr(
      $margin: 1.5 0 0.5 -0.5
    );
    padding: 0;
    li {
      display: block;
      margin: 0;
      padding: 0;
      @include vr(
        $padding-left: 0.5,
        $padding-right: 0.5
      );
      flex: 0 0 33.33333%;

      h4 {
        @include vr(
          $margin-top: 0.75,
          $margin-bottom: 0.25
        );
      }
      p {
        @include vr(
          $margin-top: 0.25,
          $margin-bottom: 0.5
        );
      }
    }
  }
}


div.work {
  display: flex;
  figure {
    display: block;
    flex: 0 0 66.6666666666%;
    margin: 0;
    padding: 0;
    @include vr(
      $padding-right: 0.5
    );
    overflow: hidden;
    box-sizing: border-box;

    img {
      display: block;
      box-shadow: 5px 5px 5px 0px rgba(#000, 0.2);
      border-radius: 3px;
      transform: translateX(-3px);
      width: 100%;
    }
  }

  aside {
    flex: 0 0 33.33333333333%;
    @include vr(
      $padding-left: 0.5
    );
    h2 {
      margin-top: 0;
      font-weight: 300;
    }
    p {
      font-weight: 300;
    }
  }
}


.button {
  display: inline-block;
  background: rgba(#fff, 0.01);
  color: #fff;
  border-radius: 11px;
  text-decoration: none;
  border: 2px solid rgba(#fff, 0.5);
  box-shadow: 3px 3px 3px 0px rgba(#000, 0.1);
  font-weight: 400;
  @include vr(
    $height: 2,
    $line-height: 2,
    $padding-left: 1,
    $padding-right: 1,
    $offset-top: 2px,
    $offset-bottom: 2px
  );

  &:hover {
    border-color: saturate($orange, 40);
    color: saturate($orange, 40);
  }
}