@charset 'utf-8';

@import "./styles/mixins.scss";
@import "./styles/base.scss";
@import "./styles/fonts.scss";

@import '~vertical-rhythm-reset/dist/vertical-rhythm-reset';
@import "~sass-easing/_easings";

@include vr-reset();

// Typefaces
$font-family: 'Muli', sans-serif;
$heading-font-family: 'Merriweather', serif;

// Text Colors
$text-color: #333;
$heading-color: #000;

// Colors
$orange: #DE7719;
$blue: complement($orange);
$red: adjust-hue($orange, -30deg);
$teal: adjust-hue($orange, -270deg);
$purple: adjust-hue($orange, -60deg);

//$orange: #E0523C; // alternative red
$light-blue: #E7F3FF;

body {
  min-width: 320px;
  font-family: $font-family;
  background: #F7F7F7 url('/assets/images/80-70-3.png');
  overscroll-behavior: none;
  color: $text-color;
  // @include vr-grid();
}


div.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);

  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 9px;
  }
  &:before {
    background: $orange;
  }
  &:after {
    top: -9px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.4);
    z-index: 100;
  }
}

section {
  @include vr(
    $padding-top: 1.5,
    $padding-bottom: 1.5
  );

  @include width-above($desktop) {
    @include vr(
      $padding-top: 2,
      $padding-bottom: 2
    );
  }

  &.orange {
    background: lighten($orange, 5);
  }
  &.blue {
    background: lighten($blue, 0);
    color: #fff;
  }
  &.bytemark {
    color: #fff;
    background: #004ea4 url('/assets/images/80-70-2.png');
  }
}

.grid-wrapper {
  max-width: 57rem;
  margin: 0 auto;
  @include vr(
    $padding-left: 1,
    $padding-right: 1
  );
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  font-weight: 400;
}


@import "./styles/header.scss";

footer {
  transition: all 3s;
  // flex-shrink: 0;
  margin-top: auto;
  background: #222 url('/assets/images/80-70-3.png');;
  color: #ccc;
  padding: 0;

  box-shadow:
    0px -1px 1px 0px #fff,
    inset 0px 1px 1px 0px #000
  ;

  min-height: 100px;

  border-top: 8px solid $orange;

  p {
    padding: 0;
  }

  a {
    color: #777;
    border: none;
  }
}


section.skills {

  h1 {
    line-height: 1.5em !important;
    @include width-above($phablet) {
      @include vr(
        $margin-right: 1
      );
    }
    
  }
  .grid-wrapper {
    @include vr(
      $padding-right: 0.5
    );
  }
  ul {
    display: flex;
    flex-wrap: wrap;

    @include vr(
      $margin: 0 0 0.5 -0.5
    );

    @include width-above($widescreen) {
      @include vr(
        $margin-top: 1.5
      );
    }
    padding: 0;
    li {
      display: block;
      margin: 0;
      padding: 0;
      @include vr(
        $padding-left: 0.5,
        $padding-right: 0.5
      );

      flex: 0 0 50%;
      @include width-above($tablet) {
        flex: 0 0 33.33333333333%;
      }

      h4 {
        @include vr(
          $margin-top: 0.75,
          $margin-bottom: 0.25
        );
      }
      p {
        @include vr(
          $margin-top: 0.25,
          $margin-bottom: 0.5
        );
      }
    }
  }
}


div.work {
  display: flex;
  figure {
    display: block;
    flex: 0 0 66.6666666666%;
    margin: 0;
    padding: 0;
    @include vr(
      $padding-right: 0.6
    );
    // transform: translateX(-3px);
    overflow: hidden;
    box-sizing: border-box;

    img {
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      display: block;
      box-shadow: 5px 5px 5px 0px rgba(#000, 0.2);
      border-radius: 3px;
      
      width: 100%;
    }
  }

  aside {
    flex: 0 0 33.33333333333%;
    @include vr(
      $padding-left: 0.5
    );
    h2 {
      margin-top: 0;
      font-weight: 300;
      @include vr(
        $line-height: 1.5
      );
    }
    p {
      font-weight: 300;
    }
  }
}

// extenders
.animateButton {
  transition: all 0.25s $easeOutCubic;
}

.button {
  display: inline-block;
  background: rgba(#fff, 0.01);
  color: $text-color;
  border-radius: 11px;
  text-decoration: none;
  border: 2px solid rgba(#333, 0.4);
  box-shadow: 3px 3px 3px 0px rgba(#000, 0.05);
  font-weight: 400;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  @include vr(
    $height: 2,
    $line-height: 2,
    $padding-left: 1,
    $padding-right: 1,
    $offset-top: 2px,
    $offset-bottom: 2px
  );
  @extend .animateButton;

  .inverse & {
    box-shadow: 3px 3px 3px 0px rgba(#000, 0.1);
    background: rgba(#fff, 0.01);
    border-color: rgba(#fff, 0.5);
    color: #fff;
  }

  &:before,
  &:after {
    content: '';
    width: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    @extend .animateButton;
    background-color: saturate($orange, 0);
  }
  
  &:before {
    left: 50%;
  }
  
  &:after {
    right: 50%;
  }
  
  
  &:hover {
    border-color: saturate($orange, 0);
    border-top-color: lighten($orange, 10);
    border-left-color: lighten($orange, 10);
    color: #fff;
    box-shadow: 3px 3px 10px 0px rgba(#000, 0.2);

    &:before,
    &:after {
      width: 52%;
      opacity: 1;
    }
  }

}

.about {
  display: flex;

  figure {
    display: block;
    flex: 0 0 33.333333333%;
    margin: 0;
    padding: 0;
    @include vr(
      $padding-right: 0.6
    );
    overflow: hidden;
    box-sizing: border-box;

    img {
      display: block;
      width: 100%;
    }
  }

  aside {
    flex: 0 0 66.6666666666%;
    @include vr(
      $padding-left: 0.5
    );
  }
}